@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Student form</h2>
<form action="Store" method="post">
    <div>Username <input name="name"/></div>
    <div>Rollnumber <input name="rollNumber" /></div>
    <div>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </div>
</form>
